<h1 align="center" class="my-4">Private Events</h1>

<% if logged_in?  %>
<%= link_to  "Create Event", new_event_path, class: "btn btn-secondary text-white" %>
<% end %>
<h2>Upcoming Events ()</h2>
<h2>Past Events ()</h2>

<% @events.each do |event| %>
    <div class="mx-auto col-9 bg-light my-3 p-3">
    <%= event.event_name %><br>
    <%= event.event_date %><br>
    <%= event.description %><br>
    <%= event.location %><br>
 
 <small class="text-success font-small">Created by: <%= event.creator.username %>  |  
                   <%= time_ago_in_words(event.created_at) %> ago  |  
                   last updated: <%= time_ago_in_words(event.updated_at) %> ago</small><br> 


    <% if logged_in?  %>
    <%= link_to "Attend Event", events_path(@event), class: "btn btn-secondary" %>
    <% end %>
    </div>        
<% end %>

