<h1>Create Event</h1>

<%= form_for @event do |f| %>

  <%= f.label :event_name %>
  <%= f.text_field :event_name, size: "10x1" %>

  <%= f.label :event_date %>
  <%= f.date_field :event_date, size: "10x1" %>

  <%= f.submit %>
<% end %>