<%
=begin%>
 <h1 align="center">Show Created Event</h1> 
<%
=end%>
  <div class="card col-9 bg-light mx-auto mt-5">
      <div><strong class="text-success" >Event Name: </strong><%= @event.event_name %>
      <div><strong class="text-success">Date: </strong ><%= @event.event_date.to_date.strftime("%m/%d/%Y") %> </div>
      <div><strong class="text-success" >Description: </strong><%= @event.description %>
      <div><strong class="text-success">Host: </strong><%= @event.creator.username %> (<%= @event.creator.email %>)</div>
    
      <hr>

      <div class="field text-warning"> <h4>Attendees: </h4></div>
      <% if @event.attendees.any? %> 
        <ul class="list-unstyled">
          <% @event.attendees.each do |attendee| %>
            <li> <strong>Name: </strong><%= attendee.username %></li>
            <li><strong>Email: </strong><%= attendee.email %></li>
            <% if @event.attendees.count > 1%> <hr> <% end %>
          <% end %>
        </ul>
      <% else %>
        This event has no attendees
      <% end %>
  </div>
